<h1>New manufacturer</h1>

<%= form_for @manufacturer do |f| %>
  <div class="error_explanation">
    <% if @manufacturer.errors.any? %>
      <%= pluralize(@manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:
      <ul>
        <% @manufacturer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="submission_form">
    <%= f.label :name %>
    <%= f.text_area :name %>

    <%= f.label :country %>
    <%= f.text_area :country %>

    <%= f.submit %>
  </div class="submission_form">
<% end %>

<%= link_to 'Back', manufacturers_path %> | <%= link_to 'Cars', cars_path %>
